<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum-Web</title>
  <link rel="stylesheet" type="text/css" href="/css/curriculum.css">
  <link rel="stylesheet" type="text/css" href="/css/Responsive.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
  
  <div class="container">
    <div class="datos-personales">
      <div class="img-perfil">
        <i>
          <img src="perfil.jpg" alt="">
        </i>
      </div>
      <div class="contactos">
        <h3>contactos</h3>
        <span>
          <i class="fa-solid fa-square-phone-flip"></i>
          <a href="tel:+584243622565" target="_blank">(+58) 424-362.2565</a>
        </span>
        <span>
          <i class="fa-solid fa-envelope"></i>
          <a href="mailito:riquirondon@gmail.com" target="_blank">riquirondon@gmail.com</a>
        </span>
        <span>
          <i class="fa-solid fa-location-dot"></i>
          <a href="https://maps.app.goo.gl/Hr7huixWqCd6H5pMA" target="_blank">Pueblo Nuevo/Callejon Uruguay</a>
        </span>
      </div>
      <div class="habilidades">
        <h3>Habilidades</h3>
        <li>Trabajo en equipos</li>
        <li>Responsabilidad absoluta</li>
        <li>Puntualidad inmediata</li>
        <li>Adaptabilidad instantanea</li>
        <li>Disponibilidad 24/07</li>
      </div>
      <div class="educacion">
        <h3>Eduacacion</h3>

        <li>
          U.E.N Luis Alejandro Alvarado
          <p>Edo. Aragua 2005-2011</p>
          <span>Nivel Academico: <i>APROBADO</i></span>
        </li>

        <li>
          U.E.P El Carmelo
          <p>Edo. Aragua 2012-2017</p>
          <span>Nivel Academico: <i>APROBADO</i></span>
        </li>

        <li>
          U.N.E Romulo Gallegos
          <p>Edo. Guarico 2024-Actual</p>
          <span>Nivel Academico: <i>ESTUDIANDO</i></span>
        </li>
      </div>
    </div>
    <div class="datos-aprendisage">
      <div class="nombre">
        <h1>Mariana Romero</h1>
      </div>
      <div class="acerca-de_mi">
        <h3>Acerca de Mí</h3>
        <p>El inicio de cada personalidad es el marco positivo del carisma y la socialización como partidarios a un impulso innovador y de vanguardia.</p>
      </div>
      <div class="experiencias-laborales">
        <h3>Experiencias laborales</h3>
        <li>
          Super Nova
          <span>cargo:Atención Al Cliente</span>
          <h4>Encargada de linea telefonica de atencion al cliente en super nova redes</h4>
          <i class="fa-solid fa-circle"></i>
        </li>
        <li>
          Unerg Ing-Sistema
          <span>Cargo:Diseñador</span>
          <h4> Desarrollo de flyer y pendones.</h4>
          <i class="fa-solid fa-circle"></i>
        </li>
        <li>
          Unerg Ing-Sistema
          <span>Cargo:Styles</span>
          <h4>Estilista profesional de calzado para dama</h4>
          <i class="fa-solid fa-circle"></i>
        </li>
      </div>
    </div>
  </div>

</body>
</html>